/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.grey-text, .text-lighten-4	{
	text-align: justify;

}

.slide  {
    background-image: url(img/pos-indonesia-vector-logo-400x400.png);
    background-size: cover;
    overflow: hidden;
    text-align: center;
    height: auto;
}


.overlay{
    background: rgba(49, 29, 94, 0.5);
    color: #fff;
    overflow: hidden;
}

.container  {
    margin: auto;
    max-width: 1024px; 
}